@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Istok+Web&family=Poppins:wght@300&display=swap");
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#header-about-us {
  background-color: rgb(255, 255, 255);
  margin-left: 10px;
  padding-bottom: 100px;
  margin-right: 86px;
}
#about-us-text {
  text-align: left;
  margin-left: 86px;
  font-family: "Istok Web", sans-serif;
  font-size: 40px;
  margin-top: 10;
}
#about-us-content {
  text-align: left;
  margin-left: 86px;
  font-family: "Istok Web", sans-serif;
  font-size: 17px;
  top: 180px;
  position: absolute;
  margin-right: 86px;
}
#about-us-main {
  position: relative;
  text-align: left;
  margin-left: 86px;
  margin-right: 86px;
  position: absolute;
  font-family: "Istok Web", sans-serif;
  font-style: italic;
  font-weight: lighter;
  top: 205px;
  font-size: 17px;
}
#icons {
  background-color: rgb(255, 255, 255);
  margin-left: 86px;
  position: relative;
  margin-right: 86px;
  top: 50px;
}
.fa-regular {
  display: block;
  color: #949494;
  position: relative;
  font-size: 25px;
  display: inline;
  margin-right: 20px;
}
#icon-text {
  position: relative;
  margin-top: 15px;
}
#icon-text h3 {
  display: inline;
  font-weight: lighter;
}
footer {
  margin-left: 10px;
  margin-top: 40px;
}
#footer-head {
  margin-left: 86px;
  position: relative;
  margin-right: 86px;
  font-weight: 20px;
  top: -40px;
}
#footer-text {
  font-weight: 20px;
  font-family: "Istok Web", sans-serif;
}
#footer-box {
  background-color: rgba(0, 0, 0, 0.5);
  margin-left: 14%;
  width: 70%;
  height: 69px;
  position: absolute;
  top: 570px;
}
#ul-footer {
  text-align: center;
  margin-left: 0px;
  justify-content: center;
  align-items: center;
  margin-left: -80px;
}
#ul-footer img {
  justify-content: center;
  position: relative;
  margin-left: 10px;
  top: -15px;
}
#fast {
  margin-bottom: 20px;
}
#bla {
  margin-bottom: 15px;
}
#forbes {
  margin-bottom: 20px;
}
